
  @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
  
  body {
    background-color: lightgray;
  }
  
  .mat-card {
    padding: 0px !important;
  }
  
  .mat-card-header-text {
    margin: 0px !important;
  }
  
  .mat-card-content,
  .mat-card-actions {
    padding: 16px !important;
  }
  
  .OrderReviewCountdown_timeOutCounter__pXPsh span {
    min-width: 10px;
    text-align: center;
  }
  * {
    -webkit-touch-callout: none;
  }
  .OrderReviewCountdown_timeOutCounter__pXPsh {
    background: #fd5154;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.08px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    flex-shrink: 0;
    align-self: flex-start;
    margin: 3px 0 0 8px;
   
    box-sizing: border-box;
    justify-content: center;
  }