<!-- <header id="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">MyBookings.ie</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2" href="#">Movie</a>
            <a class="p-2" href="#">Stream</a>
            <a class="p-2" href="#">Events</a>
            <a class="p-2" href="#">Activities</a>
        </nav>
        <form class="form-inline mr-3">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
        <a class="btn btn-outline-primary" href="#">Sign In</a>
    </div>
</header> -->
<div class="main-container">
    <div class="container">
        <section class="movie-section">
            <div class="row">
                <div class="col-12">
                    <h2>Latest Movies</h2>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-1.jpg" alt="">
                <h5>The Dark Knight</h5>
                <p class="text-secondary">Action Movie</p><button type="button" class="btn btn-dark" (click)="router.navigate(['/view-seats'])">Book Ticket</button>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-2.jpg" alt="">
                <h5>She-Hulk: Attorney at Law</h5>
                <!-- <p class="text-secondary">Action Movie</p> -->
                <div class="sc-2k6tnd-1 btqyFP">2h 20m<span class="sc-2k6tnd-5 kvkTzz">  •  </span><a href="https://in.bookmyshow.com/explore/action-movies-mumbai" class="sc-2k6tnd-2 ijNbsp">Action</a><span class="sc-2k6tnd-5 flgUpY">,</span><a href="https://in.bookmyshow.com/explore/drama-movies-mumbai" class="sc-2k6tnd-2 ijNbsp">Drama</a><span class="sc-2k6tnd-5 flgUpY">,</span><a href="https://in.bookmyshow.com/explore/romantic-movies-mumbai" class="sc-2k6tnd-2 ijNbsp">Romantic</a><span class="sc-2k6tnd-5 kvkTzz">  •  </span>UA<span class="sc-2k6tnd-5 kvkTzz">  •  </span>25 Aug, 2022</div>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-3.jpg" alt="">
                <h5>Better Call Saul</h5>
                <p class="text-secondary">Action Movie</p>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-4.jpg" alt="">
                <h5>Nope</h5>
                <p class="text-secondary">Action Movie</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-1.jpg" alt="">
                <h5>The Dark Knight</h5>
                <p class="text-secondary">Action Movie</p><button type="button" class="btn btn-dark" (click)="router.navigate(['/view-seats'])">Book Ticket</button>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-2.jpg" alt="">
                <h5>She-Hulk: Attorney at Law</h5>
                <!-- <p class="text-secondary">Action Movie</p> -->
                <div class="sc-2k6tnd-1 btqyFP">2h 20m<span class="sc-2k6tnd-5 kvkTzz">  •  </span><a href="https://in.bookmyshow.com/explore/action-movies-mumbai" class="sc-2k6tnd-2 ijNbsp">Action</a><span class="sc-2k6tnd-5 flgUpY">,</span><a href="https://in.bookmyshow.com/explore/drama-movies-mumbai" class="sc-2k6tnd-2 ijNbsp">Drama</a><span class="sc-2k6tnd-5 flgUpY">,</span><a href="https://in.bookmyshow.com/explore/romantic-movies-mumbai" class="sc-2k6tnd-2 ijNbsp">Romantic</a><span class="sc-2k6tnd-5 kvkTzz">  •  </span>UA<span class="sc-2k6tnd-5 kvkTzz">  •  </span>25 Aug, 2022</div>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-3.jpg" alt="">
                <h5>Better Call Saul</h5>
                <p class="text-secondary">Action Movie</p>
            </div>
            <div class="col-12 col-md-3">
                <img class="img-fluid mb-3" src="/assets/img/movie-4.jpg" alt="">
                <h5>Nope</h5>
                <p class="text-secondary">Action Movie</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
<!-- <footer class="footer py-3">
    <div class="container">
        <span class="text-muted">Copyright © 2022 Company Name</span>
    </div>
</footer> -->