<div class="main-container">
    <div class="container">
        <section class="movie-section">
            <div class="row">
                <div class="col-12">
                    <h2>Latest Movies</h2>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-12 col-md-3 mb-5" *ngFor="let movie of movieList">
                <img class="img-fluid mb-3 cursor-pointer" [src]=movie.imgURL alt="" (click)="movieDetails(movie)">
                <h5 class="cursor-pointer" (click)="movieDetails(movie)">{{ movie.movieName }}</h5>
                <div class="sc-2k6tnd-1 btqyFP-home">
                    {{ movie.movieDuration }}
                    <span class="sc-2k6tnd-5 kvkTzz"> • </span>
                    <ng-container *ngFor="let genere of movie?.movieGenere; last as isLast">
                        <a [href]=genere.genereLink class="sc-2k6tnd-2 ijNbsp">
                            {{ genere.genere }}
                            <span class="sc-2k6tnd-5 eUMuJC" *ngIf="!isLast">,</span>
                        </a>
                    </ng-container>
                    <span class="sc-2k6tnd-5 kvkTzz"> • </span>
                    {{ movie.movieCategory }}
                    <span class="sc-2k6tnd-5 kvkTzz"> • </span>
                    {{ movie.movieLaunchDate }}
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>