
<!-- Login Page template taken and modified from  https://bbbootstrap.com/snippets/bootstrap-signup-login-form-56423928 -->
<ngx-spinner size="large" type= 'ball-beat'></ngx-spinner>



  <!-- Optional: some overlay text to describe the video -->
    <div class="container d-flex justify-content-center content-adjust">
        <div class="d-flex flex-column justify-content-between" style="margin-top: -8px;">
            <div class="card mt-5 p-5" style="height: 150px;width: 450px;">
                <div style="margin-top: -46px;">
                    <p class="mb-1">Book your tickets</p>
                    <h4 class="mb-5 text-white">for upcoming Blockbuster!</h4>
                </div>
            </div>
    
            <div class="card two bg-white px-5 py-4 mb-3" [formGroup]="loginForm">
                <div class="form-group" *ngIf="!isLogin">
                    <input type="text" class="form-control" formControlName="name" id="name" required><label
                        class="form-control-placeholder" for="name">Name</label>
                    <div *ngIf="formValidator['name'].touched && formValidator['name'].invalid" class="show-error">
                        <div *ngIf="formValidator['name'].errors?.['required'] && formValidator['name'].dirty">Please
                            enter
                            your name</div>
                        <div *ngIf="formValidator['name'].errors?.['minlength'] && formValidator['name'].dirty">Name
                            should
                            be atleast 3 character</div>
                    </div>
                </div>
    
                <div class="form-group" *ngIf="!isLogin">
                    <input type="tel" class="form-control" (keydown)="validatorService.allowedOnlyKeyboardNumbers($event)" id="mobile" formControlName="mobile" required><label
                        class="form-control-placeholder" for="mobile">Mobile</label>
                    <div *ngIf="formValidator['mobile'].touched && formValidator['mobile'].invalid" class="show-error">
                        <div *ngIf="formValidator['mobile'].errors?.['required'] && formValidator['mobile'].dirty">Please
                            enter mobile number</div>
                        <div *ngIf="formValidator['mobile'].errors?.['pattern'] && formValidator['mobile'].dirty">Please
                            enter 10 digit mobile number</div>
                    </div>
    
                </div>
                <div class="form-group">
                    <input type="email" autocomplete="off" formControlName="email" class="form-control" id="mail"
                        required><label class="form-control-placeholder" for="mail">Email</label>
                    <div *ngIf="formValidator['email'].touched && formValidator['email'].invalid" class="show-error">
                        <div *ngIf="formValidator['email'].errors?.['required'] && formValidator['email'].dirty">Please
                            enter
                            email id</div>
                        <div *ngIf="formValidator['email'].errors?.['email'] && formValidator['email'].dirty">Please enter
                            valid
                            email id</div>
                    </div>
                </div>
    
    
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" id="password" required><label
                        class="form-control-placeholder" for="password">Password</label>
                    <div *ngIf="formValidator['password'].touched && formValidator['password'].invalid" class="show-error">
                        <div *ngIf="formValidator['password'].errors?.['required'] && formValidator['password'].dirty">
                            Please
                            enter
                            email id</div>
                        <div *ngIf="formValidator['password'].errors?.['minlength'] && formValidator['password'].dirty">
                            Password should be minimum 6 character </div>
                    </div>
                </div>
    
                <button class="btn btn-primary btn-block btn-lg mt-1 mb-2" *ngIf="isLogin" (click)="login()">Sign
                    In</button>
                <button class="btn btn-primary btn-lg mt-1 mb-2" style="margin-top: -24px;" *ngIf="!isLogin"
                    (click)="registerUser();">Sign Up</button>
                <button class="btn btn-primary btn-lg  mt-1 mb-2" *ngIf="!isLogin"
                    (click)="isLogin= !isLogin"><small>Already
                        signed
                        up?</small><span>&nbsp;Log in</span> </button>
    
                <button class="btn btn-primary btn-block btn-lg mt-1 mb-2" *ngIf="isLogin"
                    (click)="isLogin= !isLogin"><span>Get
                        started<i class="fas fa-long-arrow-alt-right ml-2"></i></span></button>
    
    
            </div>
        </div>
        <div *ngIf=" !isLogin" class="vl"></div>
        <div *ngIf=" !isLogin" class="d-flex flex-column justify-content-between"
            style="margin-top: 100px;margin-left: 50px;">
            <div class="card mt-3 p-5" style="height: 250px;width: 450px;">
                <div>
                    <p class="mb-1">Want to partner with us?</p>
                    <h4 class="mb-5 text-white">Register now</h4>
                    <button class="btn btn-primary-flip btn-lg" *ngIf=" !isLogin"
                        (click)="registerPartner();isLogin= !isLogin">Partner with us</button>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>